global
  log /dev/log local0
  log /dev/log local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend myapp_frontend
  bind *:80
  default_backend myapp_backends

backend myapp_backends
  balance uri whole
  server backend1 host.docker.internal:3001 check
  server backend2 host.docker.internal:3002 check
